.DS_Store
.vscode
.venv/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

smtlib/
/sibyl/

data/features/desc/
data/features/desc_family_only/
data/results/wl_grakel
data/results/machsmt/*/test_predictions_test_seed*.csv
models/setfit_mpnet/
models/fusion_pwc_family_only_desc/

bin/klhm
sv-benchmarks/
