.DS_Store
.vscode
.venv/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

smtlib/
/sibyl/

data/features/desc/
data/results/wl_grakel
models/setfit_mpnet/

bin/klhm
sv-benchmarks/
